<div flex
     class="pad">

  <form #authorsForm="ngForm"
        (ngSubmit)="authorService.save()"
        novalidate>

    <mat-form-field style="width: 100%;"
                    appearance="outline">
      <mat-label><span translate>NAME</span></mat-label>
      <input matInput
             type="text"
             name="name"
             id="name"
             [placeholder]="('Enter' | translate) + ' ' + ('NAME' | translate)"
             #name="ngModel"
             [(ngModel)]="authorService.model.name"
             required>
      <mat-error class="error"
                 *ngIf="name.hasError('required')"><span translate>This field is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;"
                      appearance="outline">
        <mat-label><span translate>BIRTHDATE</span></mat-label>
        <input matInput
               type="date"
               [name]="'birth_date'"
               [id]="'birth_date'"
               [placeholder]="('Enter' | translate) + ' ' + ('BIRTHDATE' | translate)"
               #birth_date="ngModel"
               [(ngModel)]="authorService.model.birth_date"
               >
      </mat-form-field>
    <input type="hidden"
           name="book_ids"
           id="book_ids"
           #book_ids="ngModel"
           [(ngModel)]="authorService.model.book_ids"
           [required]="!authorService.model.book_ids?.length"
>
    <!-- <mat-error class="error"
               *ngIf="book_ids.invalid">
               <span translate>Assign at least one</span> <span translate>BOOK</span>
    </mat-error> -->
    <app-belongs-to-many-input [label]="('BOOKS' | translate)"
                               [min]="1"
                               [required]="true"
                               (selectOut)="setBooks($event)"
                               (selectIdsOut)="setBookIds($event)"
                               [searchInputLabel]="('Add' | translate) + ' ' + ('BOOK'| translate)"
                               [searchInputPlaceholder]="('Search' | translate) + ' ' + ('BOOK' | translate)"
                               [selected]="authorService.model.books ?? []"
                               [selectedIds]="authorService.model.book_ids ?? []"
                               [searchUrl]="'api/books'"
                               [searchDisplayColumns]="['name']"
                               [searchColumns]="['name']"
                               [notFoundUrl]="'/admin/books/0'"
                               [notFoundButtonText]="('Create' | translate) + ' ' + ('BOOK' | translate)"
                               [notFoundMessage]="('No results found for' | translate) + ' ' + ('BOOK' | translate)"></app-belongs-to-many-input>
  </form>

  <div class="pad-top-lg">
    <button mat-raised-button
            color="success"
            [disabled]="authorsForm.invalid"
            (click)="authorService.save()"
            class="text-upper"><span translate>Save</span>
    </button>
    <button mat-button
            (click)="authorService.setItem({}); authorsListComponent.router.navigateByUrl('/admin/authors'); authorsListComponent.sidenav.sidenav.close()"
            color="warn"
            class="text-upper"><span translate>Cancel</span>
    </button>
  </div>


</div>

<div>
  <pre *ngIf="!environment.production">
{{authorService.model | json}}
  </pre>
</div>
