<mat-sidenav #sidenav
             [disableClose]="true"
             style="width: 100%;"
             mode="over"
             position="end">
  <div layout="column"
       layout-fill>
    <mat-toolbar style="position: fixed;">
      <button mat-icon-button
              (click)="authorsListComponent.router.navigateByUrl('/covalent/authors'); sidenav.close(); authorsListComponent.authorService.model ={}">
        <mat-icon>close</mat-icon>
      </button>
      {{authorsListComponent.authorService.model.id ? 'Editar Autor' : 'Crear autor'}}
    </mat-toolbar>
    <div flex
         [ngStyle]="{marginTop: layoutService.isMobile ? '56px' : '64px'}"
         class="mat-content">
      <app-covalent-authors-form></app-covalent-authors-form>
      <!--<pre style="width: 100%;">
{{authorsListComponent.authorService.model | json}}
      </pre>-->
    </div>
  </div>
</mat-sidenav>
