<mat-sidenav-container flex>

  <app-users-sidenav #sidenav></app-users-sidenav>

  <div layout="row"
       style="min-height: 53px;"
       layout-align="start center"
       class="pad-left-sm pad-right-sm"
       [class.mat-selected-title]="user.selectedItems.length && user.selectable">
     <span *ngIf="!searchBox.searchVisible"
           class="push-left-sm">
       <span *ngIf="(user.selectable && !user.selectedItems.length) || !user.selectable"
             class="mat-title">Usuarios</span>
       <button mat-flat-button
               [color]="'warn'"
               (click)="user.deleteMultiple()"
               *ngIf="user.selectedItems.length && user.selectable">
         Eliminar {{ user.selectedItems.length }} item(s)
       </button>
     </span>
    <td-search-box #searchBox
                   [ngStyle]="{display: user.selectedItems.length ? 'none' : 'block'}"
                   backIcon="arrow_back"
                   class="push-right-sm"
                   placeholder="Buscar usuario"
                   (close)="user.setSearchTerm(null); user.getItems()"
                   (searchDebounce)="user.setSearchTerm($event); user.getItems()"
                   flex></td-search-box>
  </div>
  <mat-divider></mat-divider>

  <ng-container *ngIf="user.items.length">
    <td-data-table #dataTable
                   [ngClass]="{'layout-mat-sidenav-container': !layoutService.isMobile, 'layout-mat-sidenav-container-mobile': layoutService.isMobile}"
                   [data]="user.items"
                   [columns]="user.columns"
                   [selectable]="user.selectable"
                   [clickable]="user.clickable"
                   [multiple]="user.multiple"
                   [sortable]="true"
                   [sortBy]="'id'"
                   [resizableColumns]="false"
                   [(ngModel)]="user.selectedItems"
                   [sortOrder]="user.sortOrder"
                   (sortChange)="user.setSortBy($event); user.getItems()"
                   (rowClick)="null">

      <ng-template tdDataTableTemplate="email"
                   let-index="index"
                   let-value="value">
        <span matLine
              [title]="value">{{value}}</span>

      </ng-template>

      <ng-template tdDataTableTemplate="first_name"
                   let-index="index"
                   let-value="value">
        {{value}}
      </ng-template>

      <ng-template tdDataTableTemplate="last_name"
                   let-index="index"
                   let-value="value">
        {{value}}
      </ng-template>

      <ng-template tdDataTableTemplate="created_at"
                   let-index="index"
                   let-value="value">
        {{value | date:'dd/MM/YYYY'}}
      </ng-template>

      <ng-template tdDataTableTemplate="id"
                   let-index="index"
                   let-value="value">
        <button mat-icon-button
                style="margin-left: -26px;"
                [routerLink]="'/admin/users/' + value"
                (click)="user.getItem(value); this.sidenav.sidenav.open()">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>

    </td-data-table>

  </ng-container>

  <ng-container *ngIf="!user.items.length">
    <div layout="column"
         layout-align="center center"
         class="tc-grey-500 mat-typography pad-lg">
      <mat-icon matListAvatar
                class="text-super push-bottom">people
      </mat-icon>
      <h2>No hay usuarios disponibles</h2>
    </div>
  </ng-container>


  <td-paging-bar #pagingBar
                 *ngIf="user.items.length"
                 [pageSize]="user.perPage"
                 [total]="user.apiMeta.total"
                 (change)="user.getItems($event.page)">
    <a mat-mini-fab
       color="info"
       [href]="environment.url + '/api/users/export'"
       target="_blank">
      <mat-icon>file_download</mat-icon>
    </a>

    <button mat-mini-fab
       color="success"
       (click)="user.model = {id: 0}; router.navigateByUrl('/admin/users/0'); sidenav.sidenav.open()">
      <mat-icon>add</mat-icon>
    </button>

    <span flex></span>
    <span hide-xs>Rows per page:</span>
    <mat-select hide-xs
                [style.width.px]="50"
                [(ngModel)]="user.perPage">
      <mat-option *ngFor="let size of [20, 50, 100]"
                  (onSelectionChange)="user.setPerPage($event); user.getItems()"
                  [value]="size">
        {{ size }}
      </mat-option>
    </mat-select>
    {{ pagingBar.range }}
    <span hide-xs>of {{ pagingBar.total }}</span>
  </td-paging-bar>

</mat-sidenav-container>
