.component-card {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  display: flexbox;
  display: flex;
  height: 144px;
  padding: 16px 16px 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);

  .component-card-body {
    height: 40px;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    -webkit-line-clamp: 2;
    display: box;
    text-overflow: ellipsis;
    box-orient: vertical;
  }
}


.card-content {
  // position: relative;
  .row {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    .circle-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        position: relative;
        text-decoration: none;
      }
    }
  }
  .lines {
    position: absolute;
    bottom: 175px;
    left: 0;
    width: 100%;
    height: 146px;
    display: flex;
    justify-content: center;
    padding: 0 16px 16px;
    box-sizing: border-box;
  }
  svg {
    width: calc(100% - 160px);
    height: 100%;
    max-width: 340px;
  }
}

.circle-container.solar {
  margin: 0 auto;
  padding-bottom: 30px;
  .circle {
    border: 2px #ff7900 solid !important;
    .mat-icon {
      color: #ff7900;
    }
  }
}

.circle-container.grid {
  padding-left: 2px;
  .circle {
    border: 2px #35a8e0 solid !important;
    .mat-icon {
      color: #35a8e0;
    }
  }
}

.circle-container.home {
  padding-right: 2px;
  .circle {
    border: 2px #7f7f7f solid !important;
    .mat-icon {
      color: #7f7f7f;
    }
  }
}

line, path {
  stroke: #222;
  stroke-width: 2;
  fill: none;
}

path.return, circle.return {
  stroke: orangered;
}
circle.return-circle {
  fill: orangered;
}

path.solar, circle.solar {
  stroke: #ff7900;
}
circle.solar-circle {
  fill: #ff7900;
}

path.grid, circle.grid {
  stroke: #35a8e0;
}
circle.grid-circle {
  fill: #35a8e0;
}



:host {
  ::ng-deep {

    .mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
      width: 64px;
      height: 64px;
      font-size: 2rem;
      background-color: rgba(255, 255, 255, 0.4) !important;
    }

    .mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 2rem;
    }

  }

}
