<mat-sidenav #sidenav
             [disableClose]="true"
             style="width: 100%;"
             mode="over"
             position="end">
  <div layout="column"
       layout-fill>
    <mat-toolbar style="position: fixed;">
      <button mat-icon-button
              (click)="usersListComponent.router.navigateByUrl('/admin/users'); sidenav.close(); usersListComponent.user.model ={}">
        <mat-icon>close</mat-icon>
      </button>
      {{usersListComponent.user.model.id ? 'Editar usuario' : 'Crear usuario'}}
    </mat-toolbar>
    <div flex
         [ngStyle]="{marginTop: layoutService.isMobile ? '56px' : '64px'}"
         class="mat-content">
      <app-users-form></app-users-form>
      <!--<pre style="width: 100%;">
{{authorsListComponent.authorService.model | json}}
      </pre>-->
    </div>
  </div>
</mat-sidenav>
